<div class="container">
  <h1>Lista de Gerentes</h1>
  <div class="d-flex justify-content-end mb-4">
    <button (click)="salvarGerente()" type="button" class="btn btn-outline-success">Novo</button>
  </div>
  <table class="table table-hover border-primary">
    <thead class="table-primary">
      <tr>
        <th></th>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Função</th>
        <th scope="col">CPF</th>
        <th scope="col">Data de Admissão</th>
        <th scope="col">Remuneração</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of gerentes">
        <tr>
          <td>
            <button (click)="toggleExpandido(item)" type="button" class="btn btn-sm">
              <span>&plus;</span>
            </button>
          </td>
          <th>{{item.id}}</th>
          <td>{{item.nome}}</td>
          <td>{{item.funcao}}</td>
          <td>{{item.cpf}}</td>
          <td>{{item.dataAdmissao | date:'dd/MM/yyyy' }}</td>
          <td>{{item.remuneracao | currency:'BRL'}}</td>
          <td>
            <button (click)="deleteGerente(item.id)" type="button" class="btn btn-outline-danger">Excluir</button>&nbsp;&nbsp;
            <button (click)="updateGerente(item.id)" type="button" class="btn btn-outline-warning">Editar</button>
          </td>
        </tr>
        <tr *ngIf="item.expandido" [class]="'conteudo-expandido'">
          <td colspan="8">
            <div class="p-3">
              <table class="table table-hover border-secondary" style="font-size: small;">
                <thead>
                  <tr>
                    <th scope="col">Subordinados</th>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Função</th>
                      <th>
                        <button (click)="adicionarSubordinado(item.id, 'Subordinado')" type="button" class="btn btn-outline-success">Adicionar a lista</button>
                      </th>
                  </tr>
                </thead>
                <tr *ngFor="let sub of subordinados">
                  <td></td>
                  <td>{{sub.id}}</td>
                  <td>{{sub.nome}}</td>
                  <td>{{sub.funcao}}</td>
                  <td>
                    <button (click)="removerSubordinado(item.id, sub.id)" type="button" class="btn btn-outline-danger">Remover</button>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div class="card flex justify-content-center">
    <p-paginator (onPageChange)="onPageChange($event)" [first]="paginaAtual" [rows]="itensPorPagina"
      [totalRecords]="totalLista"></p-paginator>
  </div>
</div>