<!-- Modal -->
<div class="modal-header bg-warning">
  <h5 class="modal-title">Editar Colaborador {{ colaboradorEditar.nome }}</h5>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="text-left">
    <div class="form-group">
      <label for="formGroupExampleInput">Nome</label>
      <input type="text" maxlength="40" class="form-control" id="formGroupExampleInput" [(ngModel)]="colaboradorEditar.nome"
        name="nome">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">CPF</label>
      <input [maxlength]="14" type="text" class="form-control" id="formGroupExampleInput2"
        [(ngModel)]="colaboradorEditar.cpf" name="cpf" mask="000.000.000-00">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput3">Remuneração:</label>
      <input [maxlength]="14" type="text" class="form-control" id="formGroupExampleInput3"
        [(ngModel)]="colaboradorEditar.remuneracao" name="remuneracao" prefix="R$ " mask="separator.2">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput6">Data de Admisão</label>
      <input id="formGroupExampleInput6" type="date" class="form-control" name="data"
        [(ngModel)]="colaboradorEditar.dataAdmissao"/>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput4">Função:</label>
      <input [disabled]="true" type="text" class="form-control" id="formGroupExampleInput4"
        [(ngModel)]="colaboradorEditar.funcao" name="funcao">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput5">Nova Função:</label>
      <select class="form-select" id="formGroupExampleInput5" [(ngModel)]="colaboradorEditar.novaFuncao"
        name="novaFuncao">
        <option value=""></option>
        <option value="Subordinado">Subordinado</option>
        <option value="Gerente">Gerente</option>
        <option value="Presidente">Presidente</option>
      </select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="salvar()">Salvar</button>
  <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Fechar</button>
</div>