<!-- Modal -->
<div class="modal-header bg-danger text-light">
    <h5 class="modal-title">Remover Colaborador {{ colaboradorRemover.nome }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h5 style="text-align: center;">
        Tem certeza que deseja remover o colaborador <span style="color: red;">{{ colaboradorRemover.nome }}</span>
        da lista de <span sty>{{colaboradorRemovedor.nome}}</span> ?
    </h5>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="remover()">Remover</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Fechar</button>
  </div>