<!-- Modal -->
<div class="modal-header bg-success text-light">
    <div *ngIf="adicionado === 'Gerente'">
        <h5 class="modal-title" style="text-align: center;">Adicionar Gerentes a lista de {{colaboradorAdicionador.nome}}:</h5>
    </div>
    <div *ngIf="adicionado === 'Subordinado'">
        <h5 class="modal-title" style="text-align: center;">Adicionar Subordinados a lista de {{colaboradorAdicionador.nome}}:</h5>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body" style="max-height: 500px;max-width: 800px; overflow-y: auto;">
    <div *ngFor="let category of subordinados" class="field-checkbox">
        <div class="row">
            <label class="col-3 d-flex justify-content-center" [for]="category.id">{{ category.id }}</label>
            <label class="col-6 d-flex justify-content-center" [for]="category.nome">{{ category.nome }}</label>
            <p-checkbox class="col-3 d-flex justify-content-center" name="group" [value]="category" [(ngModel)]="colaboradorSelecionado"
                [inputId]="category.nome"></p-checkbox>
        </div>
    </div>
    <br/>
    <div *ngFor="let category of gerentes" class="field-checkbox">
        <div class="row">
            <label class="col-3 d-flex justify-content-center" [for]="category.id">{{ category.id }}</label>
            <label class="col-6 d-flex justify-content-center" [for]="category.nome">{{ category.nome }}</label>
            <p-checkbox class="col-3 d-flex justify-content-center" name="group" [value]="category" [(ngModel)]="colaboradorSelecionado"
                [inputId]="category.nome"></p-checkbox>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="adicionar()">Adicionar</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Fechar</button>
</div>