<div class="container">
  <h1>Lista de Colaboradores</h1>
  <div class="row">
    <div class="col-7"></div>
    <div class="col-2">
      <div class="d-flex justify-content-end mb-4">
        <button (click)=salvarColaborador() type="button" class="btn btn-outline-success">Novo</button>
      </div>
    </div>
    <div class="col-3">
      <form (ngSubmit)="onSubmit()" class="d-flex gap-1">
        <input class="form-control" id="data" name="ano" type="search" maxlength="4" style="text-align: end;"
          placeholder="Filtrar por Ano de Admição" [(ngModel)]="filtroAno">
        <button type="submit" class="btn btn-outline-primary">Filtrar</button>
      </form>
    </div>
  </div>
  <table class="table table-hover border-primary">
    <thead class="table-primary">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Função</th>
        <th scope="col">CPF</th>
        <th scope="col">Data de Admição</th>
        <th scope="col">Remuneracão</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of colaboradores">
        <th scope="row">{{item.id}}</th>
        <td>{{item.nome}}</td>
        <td>{{item.funcao}}</td>
        <td>{{item.cpf}}</td>
        <td>{{item.dataAdmissao | date:'dd/MM/yyyy'}}</td>
        <td>{{item.remuneracao | currency:'BRL'}}</td>
        <td>
          <button (click)=deleteColaborador(item.id) type="button"
            class="btn btn-outline-danger">Excluir</button>&nbsp;&nbsp;
          <button (click)=updateColaborador(item.id) type="button" class="btn btn-outline-warning">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="card flex justify-content-center">
    <p-paginator (onPageChange)="onPageChange($event)" [first]="paginaAtual" [rows]="itensPorPagina"
      [totalRecords]="totalLista"></p-paginator>
  </div>
</div>