<!-- Modal -->
<div class="modal-header bg-danger text-light">
  <h5 class="modal-title">Excluindo Colaborador {{ colaboradorExcluir.nome }}</h5>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h3 style="text-align: center;">Tem certeza que deseja excluir o colaborador {{ colaboradorExcluir.nome }} ?</h3>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="excluir()">Excluir</button>
  <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Fechar</button>
</div>