<footer class="card-footer d-flex justify-content-around bg-primary p-3">
    <small class="text-white">Autor: Rafael Rodrigues Leite</small>
    <a target="_blank" href="https://www.linkedin.com/in/rafaelleite6/"> 
    <small class="text-white">Linkdin</small></a>
</footer>