<div class="container">
  <h1>Lista de Subordinados</h1>
  <div class="d-flex justify-content-end mb-4">
    <button (click)=salvarSubordinado() type="button" class="btn btn-outline-success">Novo</button>
  </div>
  <table class="table table-hover border-primary">
    <thead class="table-primary">
      <tr>
        <th></th>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Função</th>
        <th scope="col">CPF</th>
        <th scope="col">Data de Admição</th>
        <th scope="col">Remuneração</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of subordinados">
        <tr>
          <td>
            <button (click)="toggleExpandido(item)" type="button" class="btn btn-sm">
              <span>&plus;</span>
            </button>
          </td>
          <th scope="row">{{item.id}}</th>
          <td>{{item.nome}}</td>
          <td>{{item.funcao}}</td>
          <td>{{item.cpf}}</td>
          <td>{{item.dataAdmissao | date:'dd/MM/yyyy'}}</td>
          <td>{{item.remuneracao | currency:'BRL'}}</td>
          <td><button (click)="deleteSubordinado(item.id)" type="button" class="btn btn-outline-danger">Excluir</button>&nbsp;&nbsp;
            <button (click)="updateSubordinado(item.id)" type="button" class="btn btn-outline-warning">Editar</button>
        </tr>

        <tr *ngIf="item.expandido" [class]="'conteudo-expandido'">
          <td colspan="8">
            <div class="p-3">
              <table class="table table-hover border-secondary" style="font-size: small;">
                <thead>
                  <tr>
                    <th class="col-2">Presidente</th>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Função</th>
                  </tr>
                </thead>
                <tr *ngIf="presidente">
                  <td></td>
                  <th>{{presidente.id}}</th>
                  <td>{{presidente.nome}}</td>
                  <td>{{presidente.funcao}}</td>
                </tr>
              </table>
              <br/>
            </div>
            <div class="p-3">
              <table class="table table-hover border-secondary" style="font-size: small;">
                <thead>
                  <tr>
                    <th class="col-2">Gerente</th>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Função</th>
                  </tr>
                </thead>
                <tr  *ngIf="gerente">
                  <td></td>
                  <th>{{gerente.id}}</th>
                  <td>{{gerente.nome}}</td>
                  <td>{{gerente.funcao}}</td>
                </tr>
              </table>  
            </div>
          </td>
        </tr>

      </ng-container>
    </tbody>
  </table>
  <div class="card flex justify-content-center">
    <p-paginator (onPageChange)="onPageChange($event)" [first]="paginaAtual" [rows]="itensPorPagina"
      [totalRecords]="totalLista"></p-paginator>
  </div>
</div>