<nav class="navbar navbar-expand-lg navbar-dark bg-primary p-3 opacity-75">
  <a type="button" class="navbar-brand" style="color: white;" (click)="navegarHome()">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['gerentes']">Gerentes <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['subordinados']">Subordinados <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['presidentes']">Presidente <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>