<!-- Modal -->
<div class="modal-header bg-success">
  <h5 class="modal-title">Novo Colaborador</h5>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="text-left">
    <div class="form-group">
      <label for="formGroupExampleInput">Nome</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Digite o seu nome"
        [(ngModel)]="colaboradorSalvar.nome" name="nome" [maxlength]="50">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">CPF</label>
      <input [maxlength]="14" class="form-control" id="formGroupExampleInput2" name="cpf" placeholder="000.000.000-00"
        [ngModel]="colaboradorSalvar.cpf | CPF" (ngModelChange)="colaboradorSalvar.cpf=$event" type="text"
        (keydown)="validarNumero($event)">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput3">Remuneração:</label>
      <input type="text" [maxlength]="14" class="form-control" id="formGroupExampleInput3" name="remuneracao"
        [(ngModel)]="colaboradorSalvar.remuneracao" prefix="R$ " mask="separator.2" placeholder="R$ 0,00">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput4">Função:</label>
      <select class="form-select" [(ngModel)]="colaboradorSalvar.funcao" name="Funcao">
        <option value="Subordinado">Subordinado</option>
        <option value="Gerente">Gerente</option>
        <option value="Presidente">Presidente</option>
      </select>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput5">Nova Função:</label>
      <input [disabled]="true" type="text" class="form-control" id="formGroupExampleInput5"
        [(ngModel)]="colaboradorSalvar.novaFuncao" name="novaFuncao">
    </div>
  </form>
  
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="salvar()">Salvar</button>
  <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Fechar</button>
</div>